<form action="/"  method="post" id="form-step-1">
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.shoeSize) }}
        <div>
            <input type="submit" name="submit" value="Save" />
        </div>
</form>