<form action="/step-2/"  method="post" id="form-step-2" >
<fieldset title="Step Two">
            {{ form_row(form.favouriteIceCream) }}
            {{ form_row(form.favouriteSuperhero) }}
            {{ form_row(form.favouriteMovieStar) }}
            {{ form_row(form.worldEndDate) }}
            {{ form_row(form.superbowlWinner) }}
            {{ form_row(form.id) }}
    <p>
        <input type="submit" name="submit" value="Save" />
    </p>
</fieldset>
</form>